<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>经费详细信息</title>
    <link rel="stylesheet" type="text/css" href="../static/css/passwordReset.css">
</head>
<body>
<form>
    <div class="pswReset_box">
        <div class="pswReset_title">
            更改密码
        </div>
        <hr class="new_line">
        <table class="pswReset_table">
            <tr class="psw_table_line">
                <td class="psw_desc_td">旧密码：</td>
                <td class="psw_value_td">
                    <input type="text" class="psw_input"/>
                </td>
            </tr>
            <tr class="psw_table_line">
                <td class="psw_desc_td">新密码：</td>
                <td class="psw_value_td">
                    <input type="text" class="psw_input"/>
                </td>
            </tr>
            <tr class="psw_table_line">
                <td class="psw_desc_td">确认新密码：</td>
                <td class="psw_value_td">
                    <input type="text" class="psw_input"/>
                </td>
            </tr>
        </table>
        <hr class="new_line">
        <div class="pswSubmit">
            <input class="re_main_submit" type="submit" value="确认">
            <input class="re_main_submit" type="reset" value="重置">
        </div>
    </div>
</form>

</body>
</html>