.bot1 {
    position: relative;
    top: 30px;
    left: 15px;
}

.radio {
    width: 600px;
    height: 30px;
    background-color: #cccccc;
    position: relative;
    left: 145px;
    text-align: center;
    line-height: 30px;
}
.ec_main_button_vo_item_point{
    color: blue;
    text-decoration: none;
}